
@{
    ViewBag.Title = "kategoriler";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <section class="widget">
        <header>
            <span class="icon">&#128200;</span>
            <hgroup>
                <h1>Kategoriler</h1>
            </hgroup>
        </header>
        <div class="content">
            <button class="green" onclick="location.href='/admin/kategoriekle';" style="margin-bottom: 10px;">Yeni Kategori Ekle</button>
            <table id="myTable" border="0" width="100">
                <thead>
                    <tr>
                        <th></th>
                        <th class="header">Kategori</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd">
                            <td><a href="kategoriSil/@item.ID" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a> / <a href="kategoriDuzenle/@item.ID">Düzenle</a></td>
                            <td>@item.Kategori</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
